##### Executing CRUD (Create, Read, Update, Delete) SQL Queries

In [1]:
import pyodbc
import pandas as pd

In [24]:
# Trusted Connection to SQL Server Default Instance with Exception Handling (invalid DB Name)
try:
    connection = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=MSI;DATABASE=sampleDB;Trusted_Connection=yes;')

    # initialize the cursor object with connection name
    cursor = connection.cursor()
    print()
    print('Successfully Connected to Database')
    print()

except pyodbc.Error as ex: # ex is the exception object
    print()
    print('Exception: ', ex)
    print('Stopping program...')
    print()

Successfully Connected to Database

##### Executing SELECT SQL Queries

In [7]:
# running SELECT Statement with no parameters
# execute SQL query with valid table name
try:
    cursor.execute("SELECT * FROM tblCustomers")
    # display results
    print("[Query 1 Results....]")
    while True:
        row = cursor.fetchone()
        if not row:
            break
        print(row.id,row.code,row.firstName,row.lastName)
    
    # close cursor once queries completed
    # cursor.close()

except pyodbc.Error as ex: # ex is the exception object
    print()
    print('Exception: ', ex)
    print('Stopping program...')
    print()

[Query 1 Results....]
1 code1 firstName1 lastName1
2 code2 firstName2 lastName2
3 code3 firstName3 lastName3
4 code4 firstName4 lastName4
5 code5 firstName5 lastName5

In [10]:
# running SELECT Statement with no parameters
# execute SQL query with invalid table name
try:
    cursor.execute("SELECT * FROM tableCustomers")
    # display results
    print("[Query 1 Results....]")
    while True:
        row = cursor.fetchone()
        if not row:
            break
        print(row.id,row.code,row.firstName,row.lastName)

    # close cursor once queries completed
    # cursor.close()
except pyodbc.Error as ex: # ex is the exception object
    print()
    print('Exception: ', ex)
    print('Stopping program...')
    print()

Exception:  ('42S02', "[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid object name 'tableCustomers'. (208) (SQLExecDirectW)")
Stopping program...

In [13]:
# running SELECT Statement with parameters which protects against SQL Injection attacks
# execute SQL query with valid table name
try:
    # initializing parameter for SQL statement
    paramID=2
    # when executing cursor wiht parameter, WHERE is included and '?' is used as placeholder for parameter
    cursor.execute("SELECT * FROM tblCustomers WHERE id=?",paramID) # this will pull results where customerID = 2
    # display results
    print("[Query 1 Results....]")
    while True:
        row = cursor.fetchone()
        if not row:
            break
        print(row.id,row.code,row.firstName,row.lastName)
    
    # close cursor once queries completed
    # cursor.close()

except pyodbc.Error as ex: # ex is the exception object
    print()
    print('Exception: ', ex)
    print('Stopping program...')
    print()

[Query 1 Results....]
2 code2 firstName2 lastName2

##### Executing INSERT SQL Queries

In [25]:
# running INSERT Statement without parameters 
# execute SQL query with valid table name
try:
    # executing cursor query
    # Select before Insert
    cursor.execute("SELECT * FROM tblCustomers") 
    
    print("[Result Before Insert....]")
    while True:
        row = cursor.fetchone()
        if not row:
            break
        print(row.id,row.code,row.firstName,row.lastName)
    print()
    # Insert Query
    print("[Inserting Record to Table...]")
    cursor.execute("INSERT INTO [tblCustomers] ([id],[code],[firstName],[lastName]) VALUES (6, 'code6', 'firstName6', 'lastName6')")
    # commit the changes to table
    connection.commit()
    print("Insert Complete")
    print()
    print("[Result After Insert....]")
    cursor.execute("SELECT * FROM tblCustomers")
    while True:
        row = cursor.fetchone()
        if not row:
            break
        print(row.id,row.code,row.firstName,row.lastName)
    # close cursor once queries completed
    # cursor.close()

except pyodbc.Error as ex: # ex is the exception object
    print()
    print('Exception: ', ex)
    print('Stopping program...')
    print()

[Result Before Insert....]
1 code1 firstName1 lastName1
2 code2 firstName2 lastName2
3 code3 firstName3 lastName3
4 code4 firstName4 lastName4
5 code5 firstName5 lastName5

[Inserting Record to Table...]
Insert Complete

[Result After Insert....]
1 code1 firstName1 lastName1
2 code2 firstName2 lastName2
3 code3 firstName3 lastName3
4 code4 firstName4 lastName4
5 code5 firstName5 lastName5
6 code6 firstName6 lastName6

In [38]:
# running INSERT Statement with parameters 
# execute SQL query with valid table name
try:
    # executing cursor query
    # Select before Insert
    cursor.execute("SELECT * FROM tblCustomers") 
    
    print("[Result Before Insert....]")
    while True:
        row = cursor.fetchone()
        if not row:
            break
        print(row.id,row.code,row.firstName,row.lastName)
    print()
    # Insert Query
    # Insert Parameters for Customer table
    paramID = 7
    paramCode = 'code7'
    paramFName = 'firstName7'
    paramLName = 'lastName7'
    print("[Inserting Record to Table...]")
    # using ? placeholder for python parameters to be passed
    cursor.execute("INSERT INTO [tblCustomers] ([id],[code],[firstName],[lastName]) VALUES (?,?,?,?)", (paramID, paramCode, paramFName, paramLName))
    # commit the changes to table
    connection.commit()
    print("Insert Complete")
    print()
    print("[Result After Insert....]")
    cursor.execute("SELECT * FROM tblCustomers")
    while True:
        row = cursor.fetchone()
        if not row:
            break
        print(row.id,row.code,row.firstName,row.lastName)
    # close cursor once queries completed
    # cursor.close()

except pyodbc.Error as ex: # ex is the exception object
    print()
    print('Exception: ', ex)
    print('Stopping program...')
    print()

[Result Before Insert....]
1 code1 firstName1 lastName1
2 code2 firstName2 lastName2
3 code3 firstName3 lastName3
4 code4 firstName4 lastName4
6 code6 firstName6 lastName6

[Inserting Record to Table...]
Insert Complete

[Result After Insert....]
1 code1 firstName1 lastName1
2 code2 firstName2 lastName2
3 code3 firstName3 lastName3
4 code4 firstName4 lastName4
5 code5 firstName5 lastName5
6 code6 firstName6 lastName6

##### Executing UPDATE SQL Queries

##### Executing UPDATE SQL Queries

In [33]:
# running UPDATE Statement without parameters 
# execute SQL query with valid table name
try:
    # executing cursor query
    # Select before Insert
    cursor.execute("SELECT * FROM tblCustomers") 
    
    print("[Result Before Update....]")
    while True:
        row = cursor.fetchone()
        if not row:
            break
        print(row.id,row.code,row.firstName,row.lastName)
    print()
    # Update Query
    print("[Updating Record in Table...]")
    cursor.execute("UPDATE [tblCustomers] SET lastName = 'lastName 5 NEW' WHERE id=5")
    # commit the changes to table
    connection.commit()
    print("Update Complete")
    print()
    print("[Result After Update....]")
    cursor.execute("SELECT * FROM tblCustomers")
    while True:
        row = cursor.fetchone()
        if not row:
            break
        print(row.id,row.code,row.firstName,row.lastName)
    # close cursor once queries completed
    # cursor.close()

except pyodbc.Error as ex: # ex is the exception object
    print()
    print('Exception: ', ex)
    print('Stopping program...')
    print()

[Result Before Update....]
1 code1 firstName1 lastName1
2 code2 firstName2 lastName2
3 code3 firstName3 lastName3
4 code4 firstName4 lastName4
5 code5 firstName5 lastName5
6 code6 firstName6 lastName6
7 code7 firstName7 lastName7

[Updating Record in Table...]
Update Complete

[Result After Update....]
1 code1 firstName1 lastName1
2 code2 firstName2 lastName2
3 code3 firstName3 lastName3
4 code4 firstName4 lastName4
5 code5 firstName5 lastName 5 NEW
6 code6 firstName6 lastName6
7 code7 firstName7 lastName7

In [34]:
# running UPDATE Statement with parameters 
# execute SQL query with valid table name
try:
    # executing cursor query
    # Select before Insert
    cursor.execute("SELECT * FROM tblCustomers") 
    
    print("[Result Before Update....]")
    paramID = 5
    paramLName = 'lastName5'
    while True:
        row = cursor.fetchone()
        if not row:
            break
        print(row.id,row.code,row.firstName,row.lastName)
    print()
    # Update Query
    print("[Updating Record in Table...]")
    # using mulitple ? placeholders, then variables need to be listed in that order 
    cursor.execute("UPDATE [tblCustomers] SET lastName =? WHERE id=?", paramLName, paramID)
    # commit the changes to table
    connection.commit()
    print("Update Complete")
    print()
    print("[Result After Update....]")
    cursor.execute("SELECT * FROM tblCustomers")
    while True:
        row = cursor.fetchone()
        if not row:
            break
        print(row.id,row.code,row.firstName,row.lastName)
    # close cursor once queries completed
    # cursor.close()

except pyodbc.Error as ex: # ex is the exception object
    print()
    print('Exception: ', ex)
    print('Stopping program...')
    print()

[Result Before Update....]
1 code1 firstName1 lastName1
2 code2 firstName2 lastName2
3 code3 firstName3 lastName3
4 code4 firstName4 lastName4
5 code5 firstName5 lastName 5 NEW
6 code6 firstName6 lastName6
7 code7 firstName7 lastName7

[Updating Record in Table...]
Update Complete

[Result After Update....]
1 code1 firstName1 lastName1
2 code2 firstName2 lastName2
3 code3 firstName3 lastName3
4 code4 firstName4 lastName4
5 code5 firstName5 lastName5
6 code6 firstName6 lastName6
7 code7 firstName7 lastName7

##### Executing DELETE SQL Queries

In [35]:
# running DELETE Statement without parameters 
# execute SQL query with valid table name
try:
    # executing cursor query
    # Select before Insert
    cursor.execute("SELECT * FROM tblCustomers") 
    
    print("[Result Before Update....]")
    while True:
        row = cursor.fetchone()
        if not row:
            break
        print(row.id,row.code,row.firstName,row.lastName)
    print()
    # Update Query
    print("[DELETE Record in Table...]")
    cursor.execute("DELETE [tblCustomers] WHERE id= 7")
    # commit the changes to table
    connection.commit()
    print("Delete Complete")
    print()
    print("[Result After Update....]")
    cursor.execute("SELECT * FROM tblCustomers")
    while True:
        row = cursor.fetchone()
        if not row:
            break
        print(row.id,row.code,row.firstName,row.lastName)
    # close cursor once queries completed
    # cursor.close()

except pyodbc.Error as ex: # ex is the exception object
    print()
    print('Exception: ', ex)
    print('Stopping program...')
    print()

[Result Before Update....]
1 code1 firstName1 lastName1
2 code2 firstName2 lastName2
3 code3 firstName3 lastName3
4 code4 firstName4 lastName4
5 code5 firstName5 lastName5
6 code6 firstName6 lastName6
7 code7 firstName7 lastName7

[Updating Record in Table...]
Delete Complete

[Result After Update....]
1 code1 firstName1 lastName1
2 code2 firstName2 lastName2
3 code3 firstName3 lastName3
4 code4 firstName4 lastName4
5 code5 firstName5 lastName5
6 code6 firstName6 lastName6

In [39]:
# running UPDATE Statement with parameters 
# execute SQL query with valid table name
try:
    # executing cursor query
    # Select before Insert
    cursor.execute("SELECT * FROM tblCustomers") 
    
    print("[Result Before Delete....]")
    paramID = 6
    while True:
        row = cursor.fetchone()
        if not row:
            break
        print(row.id,row.code,row.firstName,row.lastName)
    print()
    # Update Query
    print("[DELETE Record in Table...]")
    # using mulitple ? placeholders, then variables need to be listed in that order 
    cursor.execute("DELETE [tblCustomers] WHERE id=?", paramID)
    # commit the changes to table
    connection.commit()
    print("Delete Complete")
    print()
    print("[Result After Update....]")
    cursor.execute("SELECT * FROM tblCustomers")
    while True:
        row = cursor.fetchone()
        if not row:
            break
        print(row.id,row.code,row.firstName,row.lastName)
    # close cursor once queries completed
    # cursor.close()

except pyodbc.Error as ex: # ex is the exception object
    print()
    print('Exception: ', ex)
    print('Stopping program...')
    print()

[Result Before Delete....]
1 code1 firstName1 lastName1
2 code2 firstName2 lastName2
3 code3 firstName3 lastName3
4 code4 firstName4 lastName4
5 code5 firstName5 lastName5
6 code6 firstName6 lastName6

[DELETE Record in Table...]
Delete Complete

[Result After Update....]
1 code1 firstName1 lastName1
2 code2 firstName2 lastName2
3 code3 firstName3 lastName3
4 code4 firstName4 lastName4
5 code5 firstName5 lastName5

In [23]:
cursor.close()
connection.close()